In [1]:
import pandas as pd

In [2]:
source = '../source/childcod_estimates_2000_2017.xls'

In [5]:
readme = open('../source/readme.txt').read()

In [6]:
print(readme)

WHO-MCEE estimates for child causes of death, 2000-2017.

Last updated November 2018


Please see full documentation at: http://www.who.int/healthinfo/global_burden_disease/en/

This file contains estimates at three levels: global (level==global), WHO regions (level==region) and country (level==country).

Explanation of variable names:
neo = neonatal period
post = postneonatal period
ufive = under five (i.e., neo+post)
nnd = total neonatal deaths
pnd = total postneonatal deaths

Counts, rates and fractions:
neo2 = number of deaths from cause #2
rneo2 = death rate from cause #2 (per 1000 livebirths). Uses UN-IGME live birth time series.
fneo2 = fraction of deaths (within neo, post or ufive categories) due to cause #2

*********************************************************************************************************
*  Cause cateogories:
*  CH2 HIV/AIDS
*  CH3 Diarrhoeal diseases
*  CH5 Tetanus
*  CH6 Measles
*  CH7 Meningitis/encephalitis
*  CH8 Malaria
*  CH9 Acute respiratory infections
*  CH10 Prematurity
*  CH11 Birth asphyxia and birth trauma
*  CH12 Sepsis and other infectious conditions of the newborn
*  CH13 Other Group 1
*  CH15 Congenital anomalies
*  CH16 Other noncommunicable diseases
*  CH17 Injuries
********************************************************************************************************9

In [8]:
data = pd.read_excel(source, sheet_name='estimates')

In [9]:
data.head()

,iso3,whocode,level,whoreg6,whoname,year,nnd,pnd,livebirths,neo2,...,fufive9,fufive10,fufive11,fufive12,fufive13,fufive15,fufive16,fufive17,neometh,pnmeth
0,NaN,NaN,global,NaN,NaN,2000,3.995121e+06,5.988005e+06,130371718,2041.707170,...,0.175832,0.137013,0.113365,0.048276,0.080158,0.057230,0.034224,0.044907,NaN,NaN
1,NaN,NaN,global,NaN,NaN,2001,3.889595e+06,5.800964e+06,130872035,2048.813152,...,0.173748,0.138253,0.113726,0.049423,0.080116,0.058283,0.034498,0.044844,NaN,NaN
2,NaN,NaN,global,NaN,NaN,2002,3.784917e+06,5.587293e+06,131555312,2036.302584,...,0.172129,0.139881,0.114217,0.050836,0.080242,0.059467,0.034715,0.044898,NaN,NaN
3,NaN,NaN,global,NaN,NaN,2003,3.681372e+06,5.447301e+06,132366525,1985.650357,...,0.169302,0.140658,0.113568,0.051814,0.079609,0.059969,0.034787,0.044603,NaN,NaN
4,NaN,NaN,global,NaN,NaN,2004,3.580942e+06,5.135495e+06,133260434,1931.609307,...,0.170302,0.144341,0.115115,0.053888,0.080416,0.062247,0.035696,0.049254,NaN,NaN

In [10]:
# datapoints

In [11]:
groups = data.groupby('level')

In [71]:
gbl = groups.get_group('global').copy()

In [72]:
gbl['global'] = 'global'

In [73]:
gbl = gbl.set_index(['global', 'year'])

In [74]:
gbl.head()

            iso3  whocode   level whoreg6 whoname           nnd           pnd  \
global year
global 2000  NaN      NaN  global     NaN     NaN  3.995121e+06  5.988005e+06
       2001  NaN      NaN  global     NaN     NaN  3.889595e+06  5.800964e+06
       2002  NaN      NaN  global     NaN     NaN  3.784917e+06  5.587293e+06
       2003  NaN      NaN  global     NaN     NaN  3.681372e+06  5.447301e+06
       2004  NaN      NaN  global     NaN     NaN  3.580942e+06  5.135495e+06

             livebirths         neo2          neo3  ...   fufive9  fufive10  \
global year                                         ...
global 2000   130371718  2041.707170  41274.023867  ...  0.175832  0.137013
       2001   130872035  2048.813152  39231.973209  ...  0.173748  0.138253
       2002   131555312  2036.302584  37367.807967  ...  0.172129  0.139881
       2003   132366525  1985.650357  35601.528086  ...  0.169302  0.140658
       2004   133260434  1931.609307  33794.632342  ...  0.170302  0.144341

             fufive11  fufive12  fufive13  fufive15  fufive16  fufive17  \
global year
global 2000  0.113365  0.048276  0.080158  0.057230  0.034224  0.044907
       2001  0.113726  0.049423  0.080116  0.058283  0.034498  0.044844
       2002  0.114217  0.050836  0.080242  0.059467  0.034715  0.044898
       2003  0.113568  0.051814  0.079609  0.059969  0.034787  0.044603
       2004  0.115115  0.053888  0.080416  0.062247  0.035696  0.049254

             neometh  pnmeth
global year
global 2000      NaN     NaN
       2001      NaN     NaN
       2002      NaN     NaN
       2003      NaN     NaN
       2004      NaN     NaN

[5 rows x 136 columns]

In [75]:
gbl.loc[:, 'nnd':].head()

                      nnd           pnd  livebirths         neo2  \
global year
global 2000  3.995121e+06  5.988005e+06   130371718  2041.707170
       2001  3.889595e+06  5.800964e+06   130872035  2048.813152
       2002  3.784917e+06  5.587293e+06   131555312  2036.302584
       2003  3.681372e+06  5.447301e+06   132366525  1985.650357
       2004  3.580942e+06  5.135495e+06   133260434  1931.609307

                     neo3           neo5  neo6          neo7  neo8  \
global year
global 2000  41274.023867  170829.053194     0  53599.677141     0
       2001  39231.973209  151891.076635     0  53457.974292     0
       2002  37367.807967  134126.178635     0  52959.472225     0
       2003  35601.528086  117525.163406     0  52669.281283     0
       2004  33794.632342  102151.514064     0  52162.494664     0

                      neo9  ...   fufive9  fufive10  fufive11  fufive12  \
global year                 ...
global 2000  307495.384236  ...  0.175832  0.137013  0.113365  0.048276
       2001  293698.330841  ...  0.173748  0.138253  0.113726  0.049423
       2002  280903.077278  ...  0.172129  0.139881  0.114217  0.050836
       2003  269290.675465  ...  0.169302  0.140658  0.113568  0.051814
       2004  257533.486472  ...  0.170302  0.144341  0.115115  0.053888

             fufive13  fufive15  fufive16  fufive17  neometh  pnmeth
global year
global 2000  0.080158  0.057230  0.034224  0.044907      NaN     NaN
       2001  0.080116  0.058283  0.034498  0.044844      NaN     NaN
       2002  0.080242  0.059467  0.034715  0.044898      NaN     NaN
       2003  0.079609  0.059969  0.034787  0.044603      NaN     NaN
       2004  0.080416  0.062247  0.035696  0.049254      NaN     NaN

[5 rows x 131 columns]

In [76]:
gbl_ = gbl.loc[:, 'nnd':]

In [77]:
for c in gbl_.columns:
    df = gbl_[[c]].dropna()
    if not df.empty:
        gbl_[[c]].to_csv(f'../../ddf--datapoints--{c}--by--global--year.csv')

In [24]:
!open ../

In [26]:
gbl_.shape

(18, 131)

In [78]:
reg = groups.get_group('region').copy()

In [79]:
reg.head()

,iso3,whocode,level,whoreg6,whoname,year,nnd,pnd,livebirths,neo2,...,fufive9,fufive10,fufive11,fufive12,fufive13,fufive15,fufive16,fufive17,neometh,pnmeth
18,NaN,NaN,region,5_Emr,NaN,2000,5.370400e+05,5.763546e+05,13916665,5.650000,...,0.189895,0.157630,0.133337,0.056904,0.077299,0.058425,0.039940,0.047589,NaN,NaN
19,NaN,NaN,region,6_Wpr,NaN,2000,4.413232e+05,3.896404e+05,23383814,14.740000,...,0.199419,0.155877,0.146705,0.017782,0.076187,0.116674,0.051419,0.125682,NaN,NaN
20,NaN,NaN,region,1_Afr,NaN,2000,1.093053e+06,3.004498e+06,27143379,1831.253600,...,0.160086,0.089732,0.091056,0.033332,0.072031,0.031890,0.022256,0.031499,NaN,NaN
21,NaN,NaN,region,2_Amr,NaN,2000,2.030170e+05,2.145550e+05,15906970,38.673174,...,0.134754,0.210640,0.086137,0.060174,0.101796,0.155709,0.077181,0.065245,NaN,NaN
22,NaN,NaN,region,3_Sear,NaN,2000,1.615088e+06,1.686801e+06,39753939,144.239999,...,0.192376,0.169682,0.131090,0.070883,0.089459,0.051236,0.033170,0.036639,NaN,NaN

In [80]:
reg['region'] = reg['whoreg6'].str.lower()

In [81]:
reg_ = reg.set_index(['region', 'year']).loc[:, "nnd":]

In [82]:
reg_.head()

,,nnd,pnd,livebirths,neo2,neo3,neo5,neo6,neo7,neo8,neo9,...,fufive9,fufive10,fufive11,fufive12,fufive13,fufive15,fufive16,fufive17,neometh,pnmeth
region,year,,,,,,,,,,,,,,,,,,,,,
5_emr,2000,5.370400e+05,5.763546e+05,13916665,5.650000,5758.514565,43884.312199,0,11606.915558,0,38879.467439,...,0.189895,0.157630,0.133337,0.056904,0.077299,0.058425,0.039940,0.047589,NaN,NaN
6_wpr,2000,4.413232e+05,3.896404e+05,23383814,14.740000,3312.790323,5539.652784,0,1011.193203,0,59036.694999,...,0.199419,0.155877,0.146705,0.017782,0.076187,0.116674,0.051419,0.125682,NaN,NaN
1_afr,2000,1.093053e+06,3.004498e+06,27143379,1831.253600,10106.888873,55391.472726,0,19233.020052,0,83525.270969,...,0.160086,0.089732,0.091056,0.033332,0.072031,0.031890,0.022256,0.031499,NaN,NaN
2_amr,2000,2.030170e+05,2.145550e+05,15906970,38.673174,261.321459,633.595494,0,556.322208,0,8706.090874,...,0.134754,0.210640,0.086137,0.060174,0.101796,0.155709,0.077181,0.065245,NaN,NaN
3_sear,2000,1.615088e+06,1.686801e+06,39753939,144.239999,21590.050738,64972.566508,0,20279.355096,0,112414.753869,...,0.192376,0.169682,0.131090,0.070883,0.089459,0.051236,0.033170,0.036639,NaN,NaN

In [83]:
for c in reg_.columns:
    df = reg_[[c]].dropna()
    if not df.empty:
        reg_[[c]].to_csv(f'../../ddf--datapoints--{c}--by--region--year.csv')

In [87]:
country = groups.get_group('country').copy()

In [88]:
country.head()

,iso3,whocode,level,whoreg6,whoname,year,nnd,pnd,livebirths,neo2,...,fufive9,fufive10,fufive11,fufive12,fufive13,fufive15,fufive16,fufive17,neometh,pnmeth
126,AFG,3010.0,country,5_Emr,Afghanistan,2000,60411.007812,66168.375000,994521,0.00,...,0.180532,0.140849,0.128570,0.038122,0.060966,0.036353,0.035646,0.039304,vamcm,vamcm
127,AFG,3010.0,country,5_Emr,Afghanistan,2001,61031.000000,70357.312500,1022927,0.00,...,0.177381,0.134222,0.127894,0.040031,0.060409,0.036344,0.035743,0.039140,vamcm,vamcm
128,AFG,3010.0,country,5_Emr,Afghanistan,2002,61469.007812,63188.746094,1048815,0.10,...,0.188849,0.137824,0.139844,0.048251,0.065392,0.039751,0.038875,0.042326,vamcm,vamcm
129,AFG,3010.0,country,5_Emr,Afghanistan,2003,61620.000000,56220.601562,1072468,0.10,...,0.201221,0.141473,0.154524,0.058993,0.071263,0.043784,0.042757,0.046023,vamcm,vamcm
130,AFG,3010.0,country,5_Emr,Afghanistan,2004,61509.000000,55688.328125,1093639,0.11,...,0.202044,0.137587,0.160958,0.070410,0.074271,0.045542,0.044108,0.047366,vamcm,vamcm

In [89]:
country['country'] = country['iso3'].str.lower()

In [90]:
country_ = country.set_index(['country', 'year']).loc[:, 'nnd':]

In [91]:
country_.neometh.unique()

array(['vamcm', 'vrmcm', 'vr data', 'other'], dtype=object)

In [92]:
# check if index have duplicated (because there are different method to calculate stat for a given year/country)
country_.index.has_duplicates

False

In [67]:
# good to go

In [93]:
country_ = country.set_index(['country', 'year']).loc[:, 'nnd':'fufive17']

In [142]:
for c in country_.columns:
    df = country_[[c]].dropna()
    if not df.empty:
        country_[[c]].to_csv(f'../../ddf--datapoints--{c}--by--country--year.csv')

In [ ]:
# entities

In [95]:
e_gbl = pd.DataFrame({'global': ['global'], 'name': ['global'], 'is--global': ['TRUE']})

In [96]:
e_gbl

   global    name is--global
0  global  global       TRUE

In [103]:
e_reg = reg[['region', 'whoreg6']].dropna().drop_duplicates()

In [104]:
e_reg

    region whoreg6
18   5_emr   5_Emr
19   6_wpr   6_Wpr
20   1_afr   1_Afr
21   2_amr   2_Amr
22  3_sear  3_Sear
23   4_eur   4_Eur

In [105]:
e_reg.columns = ['region', 'name']

In [106]:
e_reg['is--region'] = 'TRUE'

In [132]:
e_country = country[['country', 'whoname', 'iso3', 'whocode', 'whoreg6']].dropna().drop_duplicates(subset='country')

In [133]:
e_country

     country                             whoname iso3  whocode whoreg6
126      afg                         Afghanistan  AFG   3010.0   5_Emr
144      ago                              Angola  AGO   1020.0   1_Afr
162      alb                             Albania  ALB   4005.0   4_Eur
180      and                             Andorra  AND   4008.0   4_Eur
198      are                United Arab Emirates  ARE   3405.0   5_Emr
216      arg                           Argentina  ARG   2020.0   2_Amr
234      arm                             Armenia  ARM   4007.0   4_Eur
252      atg                 Antigua and Barbuda  ATG   2010.0   2_Amr
270      aus                           Australia  AUS   5020.0   6_Wpr
288      aut                             Austria  AUT   4010.0   4_Eur
306      aze                          Azerbaijan  AZE   4012.0   4_Eur
324      bdi                             Burundi  BDI   1040.0   1_Afr
342      bel                             Belgium  BEL   4020.0   4_Eur
360      ben                               Benin  BEN   1025.0   1_Afr
378      bfa                        Burkina Faso  BFA   1035.0   1_Afr
396      bgd                          Bangladesh  BGD   3025.0  3_Sear
414      bgr                            Bulgaria  BGR   4030.0   4_Eur
432      bhr                             Bahrain  BHR   3020.0   5_Emr
450      bhs                             Bahamas  BHS   2030.0   2_Amr
468      bih              Bosnia and Herzegovina  BIH   4025.0   4_Eur
486      blr                             Belarus  BLR   4018.0   4_Eur
504      blz                              Belize  BLZ   2045.0   2_Amr
522      bol    Bolivia (Plurinational State of)  BOL   2060.0   2_Amr
540      bra                              Brazil  BRA   2070.0   2_Amr
558      brb                            Barbados  BRB   2040.0   2_Amr
576      brn                   Brunei Darussalam  BRN   3030.0   6_Wpr
594      btn                              Bhutan  BTN   3027.0  3_Sear
612      bwa                            Botswana  BWA   1030.0   1_Afr
630      caf            Central African Republic  CAF   1070.0   1_Afr
648      can                              Canada  CAN   2090.0   2_Amr
...      ...                                 ...  ...      ...     ...
3078     swe                              Sweden  SWE   4290.0   4_Eur
3096     swz                           Swaziland  SWZ   1480.0   1_Afr
3114     syc                          Seychelles  SYC   1400.0   1_Afr
3132     syr                Syrian Arab Republic  SYR   3370.0   5_Emr
3150     tcd                                Chad  TCD   1080.0   1_Afr
3168     tgo                                Togo  TGO   1510.0   1_Afr
3186     tha                            Thailand  THA   3380.0  3_Sear
3204     tjk                          Tajikistan  TJK   4301.0   4_Eur
3222     tkm                        Turkmenistan  TKM   4302.0   4_Eur
3240     tls                         Timor-Leste  TLS   3087.0  3_Sear
3258     ton                               Tonga  TON   5200.0   6_Wpr
3276     tto                 Trinidad and Tobago  TTO   2440.0   2_Amr
3294     tun                             Tunisia  TUN   1520.0   5_Emr
3312     tur                              Turkey  TUR   3400.0   4_Eur
3330     tuv                              Tuvalu  TUV   5205.0   6_Wpr
3348     tza         United Republic of Tanzania  TZA   1546.0   1_Afr
3366     uga                              Uganda  UGA   1530.0   1_Afr
3384     ukr                             Ukraine  UKR   4303.0   4_Eur
3402     ury                             Uruguay  URY   2460.0   2_Amr
3420     usa            United States of America  USA   2450.0   2_Amr
3438     uzb                          Uzbekistan  UZB   4335.0   4_Eur
3456     vct    Saint Vincent and the Grenadines  VCT   2420.0   2_Amr
3474     ven  Venezuela (Bolivarian Republic of)  VEN   2470.0   2_Amr
3492     vnm                            Viet Nam  VNM   3408.0   6_Wpr
3510     vut                             Vanuatu  VUT   5207.0   6_Wpr
3528     wsm                               Samoa  WSM   5197.0   6_Wpr
3546     yem                               Yemen  YEM   3420.0   5_Emr
3564     zaf                        South Africa  ZAF   1430.0   1_Afr
3582     zmb                              Zambia  ZMB   1560.0   1_Afr
3600     zwe                            Zimbabwe  ZWE   1570.0   1_Afr

[194 rows x 5 columns]

In [134]:
e_country['region'] = e_country['whoreg6'].str.lower()

In [135]:
e_country

     country                             whoname iso3  whocode whoreg6  region
126      afg                         Afghanistan  AFG   3010.0   5_Emr   5_emr
144      ago                              Angola  AGO   1020.0   1_Afr   1_afr
162      alb                             Albania  ALB   4005.0   4_Eur   4_eur
180      and                             Andorra  AND   4008.0   4_Eur   4_eur
198      are                United Arab Emirates  ARE   3405.0   5_Emr   5_emr
216      arg                           Argentina  ARG   2020.0   2_Amr   2_amr
234      arm                             Armenia  ARM   4007.0   4_Eur   4_eur
252      atg                 Antigua and Barbuda  ATG   2010.0   2_Amr   2_amr
270      aus                           Australia  AUS   5020.0   6_Wpr   6_wpr
288      aut                             Austria  AUT   4010.0   4_Eur   4_eur
306      aze                          Azerbaijan  AZE   4012.0   4_Eur   4_eur
324      bdi                             Burundi  BDI   1040.0   1_Afr   1_afr
342      bel                             Belgium  BEL   4020.0   4_Eur   4_eur
360      ben                               Benin  BEN   1025.0   1_Afr   1_afr
378      bfa                        Burkina Faso  BFA   1035.0   1_Afr   1_afr
396      bgd                          Bangladesh  BGD   3025.0  3_Sear  3_sear
414      bgr                            Bulgaria  BGR   4030.0   4_Eur   4_eur
432      bhr                             Bahrain  BHR   3020.0   5_Emr   5_emr
450      bhs                             Bahamas  BHS   2030.0   2_Amr   2_amr
468      bih              Bosnia and Herzegovina  BIH   4025.0   4_Eur   4_eur
486      blr                             Belarus  BLR   4018.0   4_Eur   4_eur
504      blz                              Belize  BLZ   2045.0   2_Amr   2_amr
522      bol    Bolivia (Plurinational State of)  BOL   2060.0   2_Amr   2_amr
540      bra                              Brazil  BRA   2070.0   2_Amr   2_amr
558      brb                            Barbados  BRB   2040.0   2_Amr   2_amr
576      brn                   Brunei Darussalam  BRN   3030.0   6_Wpr   6_wpr
594      btn                              Bhutan  BTN   3027.0  3_Sear  3_sear
612      bwa                            Botswana  BWA   1030.0   1_Afr   1_afr
630      caf            Central African Republic  CAF   1070.0   1_Afr   1_afr
648      can                              Canada  CAN   2090.0   2_Amr   2_amr
...      ...                                 ...  ...      ...     ...     ...
3078     swe                              Sweden  SWE   4290.0   4_Eur   4_eur
3096     swz                           Swaziland  SWZ   1480.0   1_Afr   1_afr
3114     syc                          Seychelles  SYC   1400.0   1_Afr   1_afr
3132     syr                Syrian Arab Republic  SYR   3370.0   5_Emr   5_emr
3150     tcd                                Chad  TCD   1080.0   1_Afr   1_afr
3168     tgo                                Togo  TGO   1510.0   1_Afr   1_afr
3186     tha                            Thailand  THA   3380.0  3_Sear  3_sear
3204     tjk                          Tajikistan  TJK   4301.0   4_Eur   4_eur
3222     tkm                        Turkmenistan  TKM   4302.0   4_Eur   4_eur
3240     tls                         Timor-Leste  TLS   3087.0  3_Sear  3_sear
3258     ton                               Tonga  TON   5200.0   6_Wpr   6_wpr
3276     tto                 Trinidad and Tobago  TTO   2440.0   2_Amr   2_amr
3294     tun                             Tunisia  TUN   1520.0   5_Emr   5_emr
3312     tur                              Turkey  TUR   3400.0   4_Eur   4_eur
3330     tuv                              Tuvalu  TUV   5205.0   6_Wpr   6_wpr
3348     tza         United Republic of Tanzania  TZA   1546.0   1_Afr   1_afr
3366     uga                              Uganda  UGA   1530.0   1_Afr   1_afr
3384     ukr                             Ukraine  UKR   4303.0   4_Eur   4_eur
3402     ury                             Uruguay  URY   2460.0   2_Amr   2_amr
3420     usa            United States of America  USA   2450.0   2_Amr   2_amr
3438     uzb                          Uzbekistan  UZB   4335.0   4_Eur   4_eur
3456     vct    Saint Vincent and the Grenadines  VCT   2420.0   2_Amr   2_amr
3474     ven  Venezuela (Bolivarian Republic of)  VEN   2470.0   2_Amr   2_amr
3492     vnm                            Viet Nam  VNM   3408.0   6_Wpr   6_wpr
3510     vut                             Vanuatu  VUT   5207.0   6_Wpr   6_wpr
3528     wsm                               Samoa  WSM   5197.0   6_Wpr   6_wpr
3546     yem                               Yemen  YEM   3420.0   5_Emr   5_emr
3564     zaf                        South Africa  ZAF   1430.0   1_Afr   1_afr
3582     zmb                              Zambia  ZMB   1560.0   1_Afr   1_afr
3600     zwe                            Zimbabwe  ZWE   1570.0   1_Afr   1_afr

[194 rows x 6 columns]

In [136]:
e_country.columns

Index(['country', 'whoname', 'iso3', 'whocode', 'whoreg6', 'region'], dtype='object')

In [137]:
e_country = e_country[['country', 'whoname', 'iso3', 'whocode', 'region']].copy()

In [138]:
e_country['whocode'] = e_country['whocode'].map(int)

In [139]:
e_country.columns = ['country', 'name', 'iso3', 'whocode', 'region']

In [140]:
e_country['is--country'] = "TRUE"

In [128]:
e_gbl.to_csv('../../ddf--entities--geo--global.csv', index=False)

In [129]:
e_reg.to_csv('../../ddf--entities--geo--region.csv', index=False)

In [141]:
e_country.to_csv('../../ddf--entities--geo--country.csv', index=False)

In [ ]:
# concepts

In [143]:
c_ent = pd.DataFrame([
    ['geo', 'Geo', 'entity_domain', ''],
    ['global', 'Global', 'entity_set', 'geo'],
    ['region', 'World in 6 regions', 'entity_set', 'geo'],
    ['country', 'Country', 'entity_set', 'geo']
], columns=['concept', 'name', 'concept_type', 'domain'])

In [146]:
c_ent

   concept                name   concept_type domain
0      geo                 Geo  entity_domain
1   global              Global     entity_set    geo
2   region  World in 6 regions     entity_set    geo
3  country             Country     entity_set    geo

In [215]:
c_str = pd.DataFrame([
    ['name', 'Name', 'string'],
    ['domain', 'Domain', 'string'],
    ['whocode', 'WHO Code', 'string'],
    ['iso3', 'ISO 3', 'string'],
    ['year', 'Year', 'time']
], columns=['concept', 'name', 'concept_type'])

In [168]:
c_dps = data.loc[:1, 'nnd':'fufive17'].columns.values.tolist()

In [169]:
c_dps = pd.DataFrame({'concept': pd.Series(c_dps)})

In [170]:
c_dps

        concept
0           nnd
1           pnd
2    livebirths
3          neo2
4          neo3
5          neo5
6          neo6
7          neo7
8          neo8
9          neo9
10        neo10
11        neo11
12        neo12
13        neo13
14        neo15
15        neo16
16        neo17
17        post2
18        post3
19        post5
20        post6
21        post7
22        post8
23        post9
24       post10
25       post11
26       post12
27       post13
28       post15
29       post16
..          ...
99       fneo16
100      fneo17
101      fpost2
102      fpost3
103      fpost5
104      fpost6
105      fpost7
106      fpost8
107      fpost9
108     fpost10
109     fpost11
110     fpost12
111     fpost13
112     fpost15
113     fpost16
114     fpost17
115     fufive2
116     fufive3
117     fufive5
118     fufive6
119     fufive7
120     fufive8
121     fufive9
122    fufive10
123    fufive11
124    fufive12
125    fufive13
126    fufive15
127    fufive16
128    fufive17

[129 rows x 1 columns]

In [187]:
mapping = dict(
    neo = "neonatal period",
    post = "postneonatal period",
    ufive = "under five (i.e., neo+post)",
    nnd = "total neonatal deaths",
    pnd = "total postneonatal deaths",
    livebirths = 'live births'
)

In [175]:
cats = [("2", "HIV/AIDS"),
("3", "Diarrhoeal diseases"),
("5", "Tetanus"),
("6", "Measles"),
("7", "Meningitis/encephalitis"),
("8", "Malaria"),
("9", "Acute respiratory infections"),
("10",  "Prematurity"),
("11",  "Birth asphyxia and birth trauma"),
("12",  "Sepsis and other infectious conditions of the newborn"),
("13",  "Other Group 1"),
("15",  "Congenital anomalies"),
("16",  "Other noncommunicable diseases"),
("17",  "Injuries")]

In [194]:
for c in cats:
    mapping[c[0]] = c[1]

In [202]:
mapping['r'] = 'Deaths Rate Per 1000 live Births'
mapping['f'] = 'Deaths Percentage'
mapping['n'] = 'Deaths Numbers'

In [195]:
mapping

{'neo': 'neonatal period',
 'post': 'postneonatal period',
 'ufive': 'under five (i.e., neo+post)',
 'nnd': 'total neonatal deaths',
 'pnd': 'total postneonatal deaths',
 'livebirths': 'live births',
 '2': 'HIV/AIDS',
 '3': 'Diarrhoeal diseases',
 '5': 'Tetanus',
 '6': 'Measles',
 '7': 'Meningitis/encephalitis',
 '8': 'Malaria',
 '9': 'Acute respiratory infections',
 '10': 'Prematurity',
 '11': 'Birth asphyxia and birth trauma',
 '12': 'Sepsis and other infectious conditions of the newborn',
 '13': 'Other Group 1',
 '15': 'Congenital anomalies',
 '16': 'Other noncommunicable diseases',
 '17': 'Injuries'}

In [177]:
import re

In [198]:
re.match(r'([rf]?)([a-z]+)([0-9]*)', 'rneo').groups()

('r', 'neo', '')

In [206]:
def get_concept_name(s):
    matchs = list(re.match(r'([rf]?)([a-z]+)([0-9]*)', s).groups())
    if not matchs[0]:
        matchs[0] = 'n'
    matchs_ = [mapping[str(x)] for x in matchs if x]
    return ' - '.join(matchs_)

In [204]:
get_concept_name('fneo17')

'Deaths Percentage - neonatal period - Injuries'

In [207]:
c_dps['name'] = c_dps['concept'].map(get_concept_name)

In [209]:
c_dps['concept_type'] = 'measure'

In [216]:
cdf = pd.concat([c_ent, c_str, c_dps])

/Users/semio/.pyenv/versions/3.6.7/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [217]:
cdf

,concept,concept_type,domain,name
0,geo,entity_domain,,Geo
1,global,entity_set,geo,Global
2,region,entity_set,geo,World in 6 regions
3,country,entity_set,geo,Country
0,name,string,NaN,Name
1,domain,string,NaN,Domain
2,whocode,string,NaN,WHO Code
3,iso3,string,NaN,ISO 3
4,year,time,NaN,Year
0,nnd,measure,NaN,Deaths Numbers - total neonatal deaths
1,pnd,measure,NaN,Deaths Numbers - total postneonatal deaths
2,livebirths,measure,NaN,Deaths Numbers - live births
3,neo2,measure,NaN,Deaths Numbers - neonatal period - HIV/AIDS
4,neo3,measure,NaN,Deaths Numbers - neonatal period - Diarrhoeal ...
5,neo5,measure,NaN,Deaths Numbers - neonatal period - Tetanus
6,neo6,measure,NaN,Deaths Numbers - neonatal period - Measles
7,neo7,measure,NaN,Deaths Numbers - neonatal period - Meningitis/...
8,neo8,measure,NaN,Deaths Numbers - neonatal period - Malaria
9,neo9,measure,NaN,Deaths Numbers - neonatal period - Acute respi...
10,neo10,measure,NaN,Deaths Numbers - neonatal period - Prematurity
11,neo11,measure,NaN,Deaths Numbers - neonatal period - Birth asphy...
12,neo12,measure,NaN,Deaths Numbers - neonatal period - Sepsis and ...
13,neo13,measure,NaN,Deaths Numbers - neonatal period - Other Group 1
14,neo15,measure,NaN,Deaths Numbers - neonatal period - Congenital ...
15,neo16,measure,NaN,Deaths Numbers - neonatal period - Other nonco...
16,neo17,measure,NaN,Deaths Numbers - neonatal period - Injuries
17,post2,measure,NaN,Deaths Numbers - postneonatal period - HIV/AIDS
18,post3,measure,NaN,Deaths Numbers - postneonatal period - Diarrho...
19,post5,measure,NaN,Deaths Numbers - postneonatal period - Tetanus
20,post6,measure,NaN,Deaths Numbers - postneonatal period - Measles
...,...,...,...,...
99,fneo16,measure,NaN,Deaths Percentage - neonatal period - Other no...
100,fneo17,measure,NaN,Deaths Percentage - neonatal period - Injuries
101,fpost2,measure,NaN,Deaths Percentage - postneonatal period - HIV/...
102,fpost3,measure,NaN,Deaths Percentage - postneonatal period - Diar...
103,fpost5,measure,NaN,Deaths Percentage - postneonatal period - Tetanus
104,fpost6,measure,NaN,Deaths Percentage - postneonatal period - Measles
105,fpost7,measure,NaN,Deaths Percentage - postneonatal period - Meni...
106,fpost8,measure,NaN,Deaths Percentage - postneonatal period - Malaria
107,fpost9,measure,NaN,Deaths Percentage - postneonatal period - Acut...
108,fpost10,measure,NaN,Deaths Percentage - postneonatal period - Prem...
109,fpost11,measure,NaN,Deaths Percentage - postneonatal period - Birt...
110,fpost12,measure,NaN,Deaths Percentage - postneonatal period - Seps...
111,fpost13,measure,NaN,Deaths Percentage - postneonatal period - Othe...
112,fpost15,measure,NaN,Deaths Percentage - postneonatal period - Cong...
113,fpost16,measure,NaN,Deaths Percentage - postneonatal period - Othe...
114,fpost17,measure,NaN,Deaths Percentage - postneonatal period - Inju...
115,fufive2,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
116,fufive3,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
117,fufive5,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
118,fufive6,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
119,fufive7,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
120,fufive8,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
121,fufive9,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
122,fufive10,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
123,fufive11,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
124,fufive12,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
125,fufive13,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
126,fufive15,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
127,fufive16,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."
128,fufive17,measure,NaN,"Deaths Percentage - under five (i.e., neo+post..."

In [219]:
cdf.to_csv('../../ddf--concepts.csv', index=False)